body {
	margin: 15%;
	background-color: #fcf7de;
	background-image: url("https://i.pinimg.com/originals/a1/99/f3/a199f37446cbe1cd6701c693963971c3.jpg");
}


p {
	color: #52227d;
	text-indent: 2em;
	font-family: "Times New Romans", Times, serif; 
	font-size: 22px;
}

img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	border: 8px solid #52227d;
  	border-radius: 5%;
}

figcaption {
	font-size: 30px;
	font-family: 'Brush Script MT', cursive;
	text-align: center;
	color: #228b22;
}

td {
	font-family: 'Brush Script MT', cursive;
	font-size: 25px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	color: #228b22;
}

h1 {font-size: 300%}
h2 {font-size: 200%;}
h3 {font-size: 175%;}
h4 {font-size: 150%;}
h5 {font-size: 120%;}

.caps {
	font-family: 'Brush Script MT', cursive;
	font-size: 30px;
	text-transform: uppercase;
}

/* Source: https://stackoverflow.com/questions/5467605/add-a-space-after-an-element-using-after */
.caps::after {
	content: "  ";
	white-space: pre;
}

a {color: #228b22;}

pre {
	font-family: "Times New Romans", Times, serif; 
	text-align: center;
	background: #228b22;
	color: white;
	border: 8px solid #52227d;
}



